<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.canguan.mapper.FoodMapper">

    <resultMap id="BaseResultMap" type="com.it.canguan.pojo.Food">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="foodName" column="food_name" jdbcType="VARCHAR"/>
            <result property="foodAmount" column="food_amount" jdbcType="DECIMAL"/>
            <result property="foodStatus" column="food_status" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,food_name,food_amount
    </sql>
    <select id="getAllFood" resultType="com.it.canguan.pojo.Food">
        select * from food
    </select>
    <select id="searchFoodByName" resultType="com.it.canguan.pojo.Food">
        SELECT * FROM food WHERE food_name LIKE CONCAT('%', #{searchKeyword}, '%')
    </select>
    <select id="getFood" resultType="com.it.canguan.pojo.Food">
        select * from food where food_name = #{selectedFood}
    </select>
</mapper>
